h1, h2, h3{
    margin: 0;
}
.invent-img h3{
    text-align: center;
    font-size: 50px;
    color: white;
    line-height: 600px;
    font-family: 'Arial Narrow Bold';
}
.invent-img{
    background-image: url('https://i.pinimg.com/564x/23/92/da/2392da966522df01c7e400033be43a13.jpg');
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
  }
.invent-text {
    text-align: center;
  }
.invent-text img {
    max-width: 430px;
  }
.invent-text span{
    display: inline-block;
    width: 190px;
    line-height: 24px;
  }

.answer-input{
  margin-top: 140px;
  width: 350px;
  margin: 0 auto;
  text-align: left;
}  
.answer-text{
  margin-top: 140px;
}
.answer-input label{
  margin-bottom: 20px;
  display: block;
  
}  
.answer-input input[type='radio']{
  display: inline;
  margin-right: 10px;
}
.text-input input{
  margin-top: 10px;
  width: 200px;
}
.send-butt{
  margin-top: 20px;
  color: white;
  background-color: black;
  width: 100px;
  height: 30px;
}

@media (max-width: 640px) {
    .header-parent h1{
        font-size: 20px;
    }
    .header-info p{
        font-size: 14px;
        width: 140px;
        height: 18px;
    }
  }