.checkbox-list{
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    gap: 100px;
    padding-left: 50px;
    padding-top: 50px;
  }
  .checkbox-list label{
    width: 140px;
  }
  .boxes{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 40px;
    padding-left: 50px;
}
.boxes img{
    border-radius: 10px;
}
.buttones{
    display: flex;
    gap: 10px;
}

.butt-view {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.butt-view :focus {
  text-decoration: none;
}

.butt-view :hover {
  text-decoration: none;
}

.butt-view:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.butt-view:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    .butt-view {
    padding: 12px 50px;
  }
}

  @media (max-width: 640px){
    .checkbox-list{
        display: flex;
        gap: 10px;
        padding-left: 50px;
        padding-top: 50px;
        flex-direction: column;
    }
    .boxes{
        display: flex;
        gap: 50px;
        margin-top: 60px;
        padding-left: 65px;
        flex-direction: column;
        align-items: center;
    }
    .buttones{
        margin-top: 10px;
    }

    .ReactModal__Overlay {
        position: absolute;
        inset: 45% auto auto 50%;
        border: 1px solid rgb(204, 204, 204);
        background: rgb(255, 255, 255);
        overflow: auto;
        border-radius: 4px;
        outline: none;
        padding: 20px;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        width: 200px;
        height: 300px;
    }
  }