body{

}
  .header-info{
    align-items: center;
}
  .invent-text h1, span{
    font-family: 'Arial Narrow Bold';
  }
  .invent-info{
    text-align: center;
  }
  .invent-info .party-time{
    padding-top: 140px;
  }
  .info-end{
    padding-top: 140px;
  }
  .info-end p{
    color: rgb(201, 181, 0)
  }
  .invent-info b{
    font-size: 20px;
  }
  .invent-info a{
    text-decoration: none;
  }
  .logo img{
    padding-left: 20px;
    padding-top: 50px;
  }
  .red-butt{
    text-align: center;
    padding-top: 50px;
  }
  .button-buy{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    padding-top: 50px;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-align: center;
    color: white;
    border-radius: 4px;
  }
  
  .button-buy:after {
    content: "";
    background-color: rgb(157, 125, 83);
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
  .button-buy:hover:after {
    top: 0px;
    left: 0px;
  }
  .react-international-phone-input{
    margin-top: 20px !important;
  }
  
  @media (min-width: 768px) {
    .button-buy {
      padding: 13px 50px 13px;
    }
  }


  @media (min-width: 768px) {
    .butt-order {
      padding: 12px 50px;
    }
  }